<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <div class="card">
        <div class="card-tab"></div>
        <figure class="profile-image">
          <img src="/assets/Justa-Hopma-headshot.jpg" />
        </figure>
        <header class="card-header">
          <h1>Dr Justa Hopma</h1>
          <div class="card-detail-row">
            <div class="card-subheadings">
              <h2>Food Security Analyst</h2>
              <h3>Post-doc Researcher @ShefUniPolitics. Food Security/Food Sovereignty in #Bolivia and #Jordan.</h3>
            </div>
            <div class="contact-details">
              <a href="mailto:justamh@gmail.com">
                justamh@gmail.com
              </a>
              <a href="tel:0123456789">
                0123456789
              </a>
              <ul class="social-media-list">
                <li>
                  <a href="" class="svg-icon email"></a>
                </li>
                <li>
                  <a href="" class="svg-icon instagram"></a>
                </li>
                <li>
                  <a href="" class="svg-icon twitter"></a>
                </li>
              </ul>
            </div>
          </div>
        </header>
      </div>
    </div>
  </main>

</body>

</html>