<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <div class="card">
        <div class="card-tab"></div>
        <figure class="profile-image">
          <img src="/assets/Justa-Hopma-headshot.jpg" />
        </figure>
        <div class="card-content">
          <div class="card-header">
            <h1>{{ site.title }}</h1>
            <div class="card-detail-row">
              <div class="card-subheadings">
                <h2>{{ site.role }}</h2>
                <h3>{{ site.specialism }}</h3>
              </div>
              <div class="contact-details">
                {%- include social.html %}
              </div>
            </div>
          </div>
          <p class="card-biography">
            {{site.biography}}
          </p>
        </div>
      </div>
    </div>
  </main>

</body>

</html>