<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <div class="card">
        <div class="card-tab"></div>
        <figure class="profile-image">
          <img src="/assets/Justa-Hopma-headshot.jpg" />
        </figure>
        <div class="card-content">
          <div class="card-header">
            <h1>Dr Justa Hopma</h1>
            <div class="card-detail-row">
              <div class="card-subheadings">
                <h2>Food Security Specialist</h2>
                <h3>Academic and Consultant</h3>
              </div>
              <div class="contact-details">
                <ul class="social-media-list">
                  <li>
                    <a href="mailto:justa@aainternational.co.uk" class="svg-icon email"></a>
                  </li>
                  <li>
                    <a href="https://twitter.com/justamh" class="svg-icon twitter"></a>
                  </li>
                  <li>
                    <a href="https://linkedin.com/in/justa-hopma/" class="svg-icon linkedin"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <p class="card-biography">
            I am a food security specialist with seven years of experience in academia and consulting. My written work
            has been published in peer-reviewed journals and other media outlets. I have appeared in various broadcast
            media and conducted fieldwork in Bolivia, France, Jordan and Uganda. I am interested in food system change;
            governance & strategy; and low cost agri-tech for smallholders.
          </p>
        </div>
      </div>
    </div>
  </main>

</body>

</html>